body {
  box-sizing: border-box;
}

body * {
    box-sizing: inherit;
}

.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;
    overflow: auto;
    position: relative;
}

.route-content {
    display: flex;
    flex: 1;
    min-height: 0;
    flex-direction: column;
    position: relative;
}

.main-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    flex: 1;
    transition: left ease .5s;
    left: -100%;
    z-index: 100;
}

.main-nav.opening {
    left: 0;
}

.main-nav.closing {
    left: -100%;
}

.main-nav:not(.open) {
    display: none;
}
.route-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.route-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-height: 0;
    align-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
}

.flex-main {
    flex: 1;
    overflow: auto;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-center-self {
    align-self: center;
    justify-self: center;
}

.flex-space-between {
    justify-content: space-between;
}
.flex-space-evenly {
    justify-content: space-evenly;
}

.flex-wrap {
    flex-wrap: wrap;
}

.table {
    display: table;
    table-layout: fixed;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    text-align: left;
}