:root {
    --main-bg-color-1: #1520B3;
    --main-bg-color-2: #525DFF;
    --main-bg-color-3: #3845FF;
    --accent-bg-color-1: #FFD738;
    --accent-bg-color-2: #B39004;
    --content-bg-color: white;
    --content-font: black;
    --header-color: white;
    --link-color: var(--accent-bg-color-2);
}


/* basic */
body {
  background-color: #ddd;
}

a {
    color: var(--link-color);
}

.menu {
    background-color: var(--main-bg-color-2);
}

.header,
.footer {
    background-color: var(--main-bg-color-1);
    padding: .5rem 1rem ;
    color: var(--header-color);
}

.content {
    background-color: var(--content-bg-color);
    color: var(--content-font);
    padding: .5rem 1rem ;
}


/* progress bar */
.progress-bar {
    background-color: #999;
    list-style: none;
}

.progress-bar-step {
    display: block;
    height: 34px;
    min-width: 34px;
    padding: 0 3px;
    background-color: #eee;
    border: 1px solid black;
    text-align: center;
    border-radius: 50%;
}

.progress-bar-step:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.progress-bar .current {
    color: black;
    background-color: orange;
}

.progress-bar .correct {
    background-color: green;
    color: white;
}

.progress-bar .wrong {
    background-color: red;
    color: white;
}

/* grid */
.grid tbody tr:nth-child(odd) {
    background-color: #eee;
}