.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay .dialog {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    max-height: 90%;
    background-color: white;
}

.overlay .dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overlay .dialog-content {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
}

.overlay .dialog-footer{
    display: flex;
    flex-direction: row;
}

