.grid {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;;
}

.grid .grid-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid .grid-content {
    flex: 1;
    position: relative;
    overflow: auto;
}

.grid table {
    border-collapse: collapse;
    min-width: 100%;
}

.grid td,
.grid th {
    border: 1px solid black;
    padding: 5px;
}

.grid th {
    position: sticky;
    top: 0;
    background-color: white;
}


.grid:not(.cards) .column-label {
    display: none;
}


.grid.cards table,
.grid.cards tbody {
    display: flex;
    flex-wrap: wrap;
}

.grid.cards thead {
    display: none;
}

.grid.cards tr {
    display: table;
    border: 1px solid black;
    margin: 0 10px 10px 0;
    padding: 1rem;
    width: 250px;
    border-radius: 10px;
}

.grid.cards td {
    display: table-row;
    border: none;
    text-align: left;
}

.grid.cards td > * {
    display: table-cell;
}

.grid .column-label {
    padding-right: 5px;
    font-weight: bold;
}