.card {
    position: relative;
    transition: all .5s;
    transform: rotateY(0);
    min-height: 400px;
    height: 400px;
    width: 300px;
    perspective: 1000px;
    overflow: hidden;
    padding: 25px;
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  padding: .5em;
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 2px 5px black;
  border-radius: 10px;
}

.card-front .card-face-content {
    justify-content: center;
    align-items: center;
}

.card-back {
  transform: rotateY(180deg);
}

.card.flipped .card-content {
  transform: rotateY(180deg);
}

.card .field-label {
    text-align: right;
    padding-right: 5px;
}

.card .field-label:after {
    content: ':';
}